<div class="search-form mt-10 mb-10">
  <form method="POST" action="">

    <div class="form-group">
      <label for="search-input">Tu khoa</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Nhap tu khoa"
        name="q"
      />
    </div>

    <div class="form-group">
      <label for="gender-input">Gioi tinh</label>

      <select class="form-control" id="gender-input" name="gender">
        <option value="">--Chon gioi tinh--</option>
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
</div>